* {
  margin: 0;
}
#title {
  background-color: yellow;
}

.img {
  width: 2.5rem;
  height: 2.5rem;
}

.nav-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  align-items: center;
  padding: 1rem;
  background-color: #f9a826;
  color: white;
}

.searchbar {
  justify-self: center;
}

.img-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.img-user {
  justify-self: flex-end;
  margin-right: 1rem;
}

.img-logo {
  margin-left: 1rem;
}
